.main-header {
  border-bottom: 1px solid $special-light-grey6;
  overflow: hidden;
}

@media (min-width: $tablet-width) {
  .main-header {
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .main-header--index {
    position: relative;
    background-image: linear-gradient(to right, rgba($basic-white, 0) 50%, rgba($basic-green, 0.85) 50%, rgba($basic-green, 0.85) 100%);
  }

  .main-header--index::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba($basic-white, 0) 50%, $special-dark-grey6 50%, $special-dark-grey6 100%);
    z-index: -2;
  }
}
